/* ADMIN MENU */
/* --------------------------------------------------- */

/* Additional icons */


.toolbar .toolbar-bar .toolbar-icon-activecampaign-dashboard:before {
  background-image: url('../images/activecampaign.svg');
}

.toolbar .toolbar-bar .toolbar-icon-activecampaign-dashboard:hover:before {
  background-image: url('../images/activecampaign.svg');
}

.gin--vertical-toolbar .toolbar .toolbar-bar .toolbar-icon-activecampaign-dashboard:before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22basic%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22288%22%20height%3D%22288%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%3E.st0%7Bfill%3A%23356ae6%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M146.6%20150.7c2.6%200%205.2-1%208-3.1%203.3-2.3%206.2-4.2%206.2-4.2l1-.7-1-.7c-.4-.3-43.9-30.5-48.4-33.4-2.1-1.5-4.5-1.8-6.4-.9-1.8.9-2.8%202.8-2.8%205.1v10.3l.4.2c.3.2%2030.2%2021%2036%2024.9%202.4%201.7%204.7%202.5%207%202.5z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M204.9%20132.6c-2.6-1.9-95.9-67-99.9-69.8l-1.3-.9v16c0%205.1%202.7%207%206%209.4%200%200%2071.6%2049.9%2080.5%2056-8.9%206.2-76.3%2052.9-80.6%2055.6-5.1%203.4-5.6%205.6-5.6%2010.2v17.2s98.7-70.6%20100.8-72.2c4.5-3.4%205.5-7.4%205.6-10.3V142c.1-3.6-1.8-6.8-5.5-9.4z%22%2F%3E%3C%2Fsvg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22basic%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22288%22%20height%3D%22288%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%3E.st0%7Bfill%3A%23356ae6%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M146.6%20150.7c2.6%200%205.2-1%208-3.1%203.3-2.3%206.2-4.2%206.2-4.2l1-.7-1-.7c-.4-.3-43.9-30.5-48.4-33.4-2.1-1.5-4.5-1.8-6.4-.9-1.8.9-2.8%202.8-2.8%205.1v10.3l.4.2c.3.2%2030.2%2021%2036%2024.9%202.4%201.7%204.7%202.5%207%202.5z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M204.9%20132.6c-2.6-1.9-95.9-67-99.9-69.8l-1.3-.9v16c0%205.1%202.7%207%206%209.4%200%200%2071.6%2049.9%2080.5%2056-8.9%206.2-76.3%2052.9-80.6%2055.6-5.1%203.4-5.6%205.6-5.6%2010.2v17.2s98.7-70.6%20100.8-72.2c4.5-3.4%205.5-7.4%205.6-10.3V142c.1-3.6-1.8-6.8-5.5-9.4z%22%2F%3E%3C%2Fsvg%3E");
}
