{#
/**
 * @file
 * Default theme implementation for an active campaign form.
 *
 * Available variables:
 * - base_url: The personal url to the active campaign home page. e.g. https://XXX123.activehosted.com.
 * - id: The id of the active campaign form.
 *
 * @ingroup themeable
 */
#}
<div class="_form_{{ id }}"></div><script src="{{ base_url }}/f/embed.php?id={{ id }}" type="text/javascript" charset="utf-8"></script>
